<h1>Add new product</h1>
<form action="/products" method="post">
    <input type="text" placeholder="Title" name="title">
    <input type="number" placeholder="Price" name="price">
    <input type="text" placeholder="IMG" name="thumbnail">
    <input type="submit" value="Submit">
</form>
<br>
<p> Example:</p>
<p> Title: Globo Terráqueo <br>
Price: 345.67 <br>
Thumbnail: https://cdn3.iconfinder.com/data/icons/education-209/64/globe-earth-geograhy-planet-school-256.png</p>
<a type="button" href="/products">Go to products</a>