{{#if products.length}}
<h1>Current Products</h1><button onClick="window.location = '/'">Add Products</button>
    <ul>
        {{#each products}}
            <li>
                Nombre: {{this.title}} <br>
                Precio: {{this.price}}<br>
                <img style="width: 100px; height: 100px" src="{{this.thumbnail}}" alt="">
            </li>
        {{/each}}
    </ul>
    {{else}}  
    <h1>No products to show - Add a new product in Form</h1>
    <br>
{{/if}}
